{% load static%}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/fca625cbfc.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title></title>
</head>
<body class="bg-light">
    
    <div id="app" v-cloak>
      <main class="container-fluid py-3">
        <nav class="row text-secondary mb-3">
          <div class="col-md-8">
            <img src="{% static 'virus.png'%}" height="48" class="align-middle mr-2 ">
            <h1 class="d-inline-block align-middle" style="letter-spacing: -0.05rem;">COVID-19 Kenya Dashboard</h1>
          </div>
          <div class="col-md-4 text-md-right">
            <span>Made with<i class="fa fa-heart alert text-danger" aria-hidden="true"></i>by <strong>Nicky</strong> find me on <a href="https://mobile.twitter.com/NicksonLangat20">twitter.</a></span>
          </div>
        </nav>

        <!-- FIRST ROW -->
        <div class="row">
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-info">
              <p class="card-text mb-0">Total Tests</p>
              <h2 class="card-title text-info mb-0">{{tests|intcomma}}</h2>
            </div>
          </div>
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-primary">
              <p class="card-text mb-0">Confirmed</p>
              <h2 class="card-title text-primary mb-0">{{cases|intcomma}}</h2>
            </div>
          </div>
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-success">
              <p class="card-text mb-0">Recovered</p>
              <h2 class="card-title text-success mb-0">{{recovered|intcomma}}</h2>
            </div>
          </div>
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-warning">
              <p class="card-text mb-0">Admitted</p>
              <h2 class="card-title text-warning mb-0">{{active|intcomma}}</h2>
            </div>
          </div>
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-danger">
              <p class="card-text mb-0">Critical</p>
              <h2 class="card-title text-secondary mb-0">{{critical|intcomma}}</h2>
            </div>
          </div>
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-danger">
              <p class="card-text mb-0">Casualties</p>
              <h2 class="card-title text-danger mb-0">{{deaths|intcomma}}</h2>
            </div>
          </div>
        </div>
        <!--END FIRST ROW-->
        <h1>TODAY</h1>

        <!-- FIRST ROW -->
        <div class="row">
          
          
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-info">
              <p class="card-text mb-0">Confirmed</p>
              <h2 class="card-title text-primary mb-0">{{todaycases|intcomma}}</h2>
            </div>
          </div>
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-success">
              <p class="card-text mb-0">Recoveries</p>
              <h2 class="card-title text-success mb-0">{{todayrecovered|intcomma}}</h2>
            </div>
          </div>
          
          
          </div>
          <div class="col">
            <div class="card card-body border-0 shadow-sm mb-3 alert alert-danger">
              <p class="card-text mb-0">Casualties</p>
              <h2 class="card-title text-danger mb-0">{{todaydeaths|intcomma}}</h2>
            </div>
          </div>
        </div>
        <!--END FIRST ROW-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>